@use './scss/abstracts/functions' as functions;
@use './scss/abstracts/mixins' as mixins;
@use './scss/abstracts/variables' as variables;

@use './scss/base/base' as base;

@use './scss/components/buttons' as buttons;

@use './scss/layout/header' as header;
@use './scss/layout/discount' as discount;
@use './scss/layout/body' as body;

@use './scss/pages/home' as home;