// Slider area start

.show-case {
    width: 100%;
}

.display-wrapper {
    position: absolute;
    bottom: 30px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 25px;
    width: 252px;
    height: 136px;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.title {
    font-size: 21px;
    color: #393939;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: #2f2f2f;
}

.shop-link {
    font-size: 15px;
    color: #FB5D5D;
    text-decoration: underline;
}

.slider-image img {
    width: 80%;
}

.slider-content {
    margin-bottom: 50px;
}

.category {
    font-size: 18px;
    font-weight: 600;
    display: block;
    position: relative;
    padding-left: 50px;
    color: #3c3c3c;
    margin-bottom: 15px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1.5px;
        background-color: #fb5d5d;
        width: 30px;
        height: 3px;
    }
}

.title-1 {
    font-size: 30px;
    font-weight: 300;
    color: #3c3c3c;
}

.title-2 {
    font-size: 30px;
    font-weight: 700;
    color: #3c3c3c;
}

.arrow-icon {
    background-color: #fff;
    box-shadow: 0 3px 25.5px 4.5px rgba(0, 0, 0, 0.6);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;

    &:hover {
        background-color: #fb5d5d;

        &::after {
            color: #fff;
        }
    }
}

.slider-area:hover .arrow-icon {
    visibility: visible;
    opacity: 1;
}

.arrow-icon-left {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);

    &::after {
        content: "\f053";
        font-family: FontAwesome;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s;
    }
}

.arrow-icon-right {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);

    &::after {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.4s;
    }
}

.move {
    transition: all 3s ease;
    animation: timer 2s ease;

    @keyframes timer {
        0% {
            opacity: 1;
            transform: translateY(0px);
        }

        50% {
            opacity: 0;
            transform: translateY(-331px);
        }

        60% {
            opacity: 0;
            transform: translateY(255px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.bg-change {
    transition: all 3s ease;
    background-color: rgb(223, 192, 135);
}

@media(min-width: 768px) {

    .title-1,
    .title-2 {
        font-size: 42px;
    }
}

@media(min-width: 1024px) {

    .title-1,
    .title-2 {
        font-size: 60px;
    }

    .slider-image img {
        width: 60%;
    }
}

// Slider area end

// Banner area start

.banner-area {
    padding: 100px 0;
}

.banner {
    display: block;
    position: relative;
    overflow: hidden;

    img {
        transition: all 0.4s;

        &:hover {
            scale: 1.1;
            rotate: 3deg;
        }
    }
}

.item-disc {
    position: absolute;
    bottom: 20%;
    left: 15%;
}

.single-col {
    width: 100%;
}

.center-col {
    width: 100%;
}

.midded {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);

    .midded-title {
        color: #fb5d5d;
        font-size: 30px;
        font-weight: 600;
    }

    .midded-link {
        color: #161616;
        font-size: 18px;
        text-decoration: underline;
        transition: all 0.4s;

        &:hover {
            color: #fb5d5d;
        }
    }
}

.item-title {
    font-size: 24px;
    font-weight: 600;
    color: #323232;
    margin-bottom: 14px;
}

.item-amount {
    font-size: 16px;
    color: #575656;
}

@media(min-width:767px) {
    .single-col {
        width: 37.5%;
    }

    .center-col {
        width: 24.9%;
    }
}

// Banner area end

// Feature area start

.feature {
    padding: 25px;
    display: flex;
    gap: 1rem;
    border: 1px solid #e8e8e8;
}

.feature-title {
    font-size: 24px;
}

.sub-title {
    font-size: 16px;
    color: #848484;
}

.feature-icon {
    padding: 20px;
    background: linear-gradient(-155deg, #fd3d6b 0%, #fd7863 98%, #f3dfe0 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        transition: all 0.4s;
    }

    &:hover {
        img {
            transform: scale(0.8);
            rotate: 2deg;
        }
    }
}

@media(min-width: 992px) {
    .feature-title {
        font-size: 20px;
    }

    .sub-title {
        font-size: 14px;
    }

}

// Feature area end

// Product area start

.section-title {
    font-size: 30px;
    font-weight: 600;
    color: #fb5d5d;
}

.common-title {
    position: relative;

    &::after {
        content: "";
        border: 1px solid #ececec;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0px;
        left: 0;
    }
}

.product-link {
    color: #a7a7a7;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s;
    position: relative;

    &:hover {
        color: #fb5d5d;

        &::after {
            border: 1px solid #fb5d5d;
            width: 120%;
            height: 1px;
        }
    }

    &::after {
        z-index: 10;
        content: "";
        position: absolute;
        width: 0;
        bottom: -19.5px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.4s;
    }
}

.active {
    color: #fb5d5d;

    &::after {
        border: 1px solid #fb5d5d;
        width: 120%;
        height: 1px;
    }
}

.rev-count {
    font-size: 14px;
    color: #9f9e9e;
}

.prod-name {
    color: #474747;
    transition: all 0.3s;

    &:hover {
        color: #fb5d5d;
    }
}


// Product area end

// Clock area start

.deal-bg {
    background-image: url(https://htmldemo.net/jesco/jesco/assets/images/deal-img/deal-bg.jpg);
    background-size: cover;
    padding: 60px 0;
}

.clock-title {
    color: #fb5d5d;
    margin-bottom: 20px;
}

.clock-img {
    width: 98%;
}

@media (min-width: 767px) {
    .clock-img {
        width: 80%;
    }
}

// Clock area end

// Testimonials area start
.testimonial-area {
    margin-bottom: 30px;

    .testi-swiper {
        width: 100%;

        .testi {
            position: relative;
            padding: 60px 40px;
            box-shadow: 0px 30px 64px 0px rgba(0, 0, 0, 0.05);

            .testi-stars {
                display: flex;
                gap: 0.6rem;
                margin-bottom: 20px;
            }

            .testi-text {
                margin-bottom: 20px;

                p {
                    font-size: 18px;
                    color: #818790;
                }
            }

            .testi-author {
                display: flex;

                .author-img {
                    position: relative;

                    &::after {
                        content: "\f10d";
                        font-family: FontAwesome;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 10px;
                        position: absolute;
                        top: -5px;
                        right: -5px;
                        height: 22px;
                        width: 22px;
                        background-color: #fb5d5d;
                        border-radius: 50%;
                    }
                }

                .author-info {
                    margin-left: 25px;

                    .author-name {
                        color: #39393a;
                        font-size: 18px;
                        font-weight: 500;
                    }

                    .author-title {
                        color: #576477;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }

            &::after {
                content: "\f10d";
                font-family: FontAwesome;
                color: #f1f1f1;
                font-size: 3.5rem;
                position: absolute;
                bottom: 0px;
                right: 22px;
            }
        }
    }
}


// Testimonials area end

// Brand area start

.brand-area {
    padding: 60px 0;

    .brand-swiper {
        width: 100%;
    }
}

// Brand area end