.page-title-area {
    padding: 60px 0;
    background-color: #fcf6f6;

    .page-title {
        color: #3c3c3c;
        font-size: 48px;
        font-weight: 600;
    }

    .page-info {
        color: #3c3c3c;
        font-size: 18px;
    }

    @media(min-width:576px) {
        padding: 80px 0;
    }

    @media(min-width:1200px) {
        padding: 110px 0;
    }
}

.product-details-area {
    padding: 50px 0;

    img{
        cursor: pointer;
    }
    
    .product-details-content {
        .content-header {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 18px;
        }

        .product-price {
            font-size: 24px;
            color: #EE3231;
            margin-bottom: 18px;
        }

        .product-rate {
            margin-bottom: 18px;
        }

        .content-text {
            font-weight: 300;
            line-height: 30px;
            color: #6c778C;
            margin-bottom: 18px;
        }

        .detail-addings {
            display: flex;
            gap: 10px;
            margin-bottom: 18px;

            .cart-plus-minus {
                display: flex;
                width: 80px;
                height: 50px;
                background-color: #505050;
                border-radius: 5px;

                .dec {
                    width: 25%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }

                input {
                    width: 50%;
                    text-align: center;
                    background-color: #505050;
                    color: #fff;
                    border: none;
                    outline: none;
                }

                .inc {
                    width: 25%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }

            .detail-add-btn {
                button {
                    color: #fff;
                    background-color: #fb5d5d;
                    border-radius: 5px;
                    padding: 0 12px;
                    height: 50px;
                    font-size: 14px;
                    font-weight: 600;
                    transition: all 0.4s;

                    &:hover {
                        background-color: #000;
                    }
                }
            }

            .detail-wishlist {
                a {
                    color: #fff;
                    font-size: 18px;
                    border-radius: 5px;
                    background-color: #3d3d3d;
                    padding: 12px;
                    transition: all 0.4s;

                    &:hover {
                        background-color: #000;
                    }
                }
            }

            .detail-compare {
                a {
                    color: #fff;
                    font-size: 18px;
                    border-radius: 5px;
                    background-color: #3d3d3d;
                    padding: 12px;
                    transition: all 0.4s;

                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }

        .detail-extras {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .detail-extra {
                display: flex;
                gap: 1rem;
                align-items: center;

                .title {
                    color: #5f5f5f;
                    font-weight: 600;
                }

                .brief {
                    color: #9f9e9e;
                }

                .socials {
                    display: flex;
                    gap: 0.8rem;

                    i {
                        color: #474747;
                        transition: all 0.4s;

                        &:hover {
                            color: #fb5d5d;
                        }
                    }
                }
            }
        }
    }

}

.desc-rev-area {
    padding-bottom: 100px;
    .desc-rev-top {
        background-color: #f4f4f4;

        .active {
            color: #fff;
            background-color: #fb5d5d;
        }

        a {
            color: #3d3d3d;
            margin: 0 5px;
            font-size: 14px;
            font-weight: 600;
            padding: 18px 10px;
            transition: all 0.4s;

            &:hover {
                color: #fff;
                background-color: #fb5d5d;
            }
        }
    }

    .desc-rev-bottom {
        padding-top: 60px;

        .information {
            display: none;

            li {
                display: flex;
                margin-bottom: 13px;

                p {
                    color: #3d3d3d;
                    min-width: 90px;
                    margin-right: 26px;
                }
            }
        }

        .description {
            color: #6c788c;
            font-weight: 300;
            display: none;
        }

        .reviews {
            display: none;
            .review-wrapper {
                .review {
                    margin-bottom: 20px;

                    .content-top {
                        margin-bottom: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .content-common {
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            .content-name {
                                font-size: 20px;
                                color: #525252;
                            }
                        }

                        .content-reply {
                            a {
                                font-size: 16px;
                                color: #525252;
                                transition: all 0.4s;

                                &:hover {
                                    color: #fb5d5d;
                                }
                            }
                        }
                    }

                    .content-bottom {
                        color: #6c788c;

                    }
                }
            }

            .add-review {
                @media(min-width: 992px) {
                    padding-left: 50px;
                }

                .add-review-top {
                    margin-bottom: 1.4rem;

                    p {
                        font-size: 18px;
                        color: #525252;
                    }
                }

                .add-review-bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-bottom: 20px;

                    input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #ebebeb;
                    }

                    textarea {
                        width: 100%;
                        height: 180px;
                        padding: 10px;
                        border: 1px solid #ebebeb;
                    }

                    .shop-btn {
                        width: 40%;
                    }
                }
            }

        }
        
        .active{
            display: block;
        }
    }
}

.related-product-area{
    margin-bottom: 60px;
    .section-title{
        margin-bottom: 60px;
    }

    .prod-swiper{
        width: 100%;
    }
}