.scroll-up {
    z-index: 15;
    background-color: #fb5d5d;
    border-radius: 50%;
    color: #fff;
    padding: 11px 14px;
    position: fixed;
    bottom: 60px;
    right: 20px;
}

.circle-area {
    .current {
        border-color: #fb5d5d;
    }

    a {
        cursor: pointer;
        width: 42px;
        height: 42px;
        border: 1px solid #d9d9d9;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        color: #525252;
        font-weight: 600;

        &:hover{
            border-color: #fb5d5d;
        }

        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 36px;
            height: 36px;
            content: "";
            border-radius: 50%;
            margin-top: -18px;
            margin-left: -18px;
            z-index: -1;
        }
    }

    .yellow::after {
        background-color: #d28200;
    }

    .black::after {
        background-color: #505050;
    }

    .red::after {
        background-color: #ff1616;
    }

    .pink::after {
        background-color: #ecbbbf;
    }

    .gray::after {
        background-color: #d6d6d6;
    }
}

.product {
    cursor: pointer;
    margin-top: 15px;

    &:hover {
        .product-btn {
            transform: translate(-50%, 0);
            opacity: 1;
        }

        .popup {
            transform: translateY(0);
            opacity: 1;
        }

        .product-image img {
            transform: scale(1.1);
            rotate: 4deg;
        }
    }

    .prod-price {
        color: #1d1d1d;
        font-weight: 600;
    }

    .product-image {
        position: relative;
        overflow: hidden;

        img {
            transition: all 0.4s;
        }
    }

    .prod-popup {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5%;
        right: 5%;
        overflow: hidden;

        i {
            font-size: 20px;
            padding: 10px;
            border-radius: 50%;
            transition: all 0.3s;

            &:hover {
                color: #fff;
                background-color: #fb5d5d;
            }
        }
    }

    .popup {
        transform: translateY(250%);
        transition: all 0.4s;
        opacity: 0;
    }
}