.shop-btn {
    color: #fff;
    background-color: #fd5d67;
    padding: 15px 20px;
    transition: all 0.4s;

    &:hover {
        background-color: #fd5d67;
        color: #fff;
        box-shadow: 0 5px 15px 0 rgba(153, 63, 107, 0.5);
    }
}

.product-btn {
    font-size: 10px;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 50%);
    opacity: 0;
    width: max-content;

    @media(min-width: 480px){
        font-size: 12px;
    }
    @media(min-width: 1400px){
        font-size: 16px;
    }
}